li{
    list-style-type: none;
    padding: 10px;
    margin:10px;
    border:2px solid #000;
    width: 150px;
    text-align: center;
    font-size: 14px;
    z-index: -1; 
}
#Welcome{
    font-size: 30px;
    text-align: center;
    color: #BD4F95;
}
#reality{
    font-size: 20px;
    text-align: center;
    color: #BD4F95;
}
.float-left-area  {
    position:fixed; 
    padding: 5px;
    width: 20%;
    height: 100%;
    float: left;
    z-index: +10; 
    }

.float-right-area {
    position:absolute; 
    padding:5px 5px 5px 20% ;
    z-index: +1; 
    width: 80%;
    height: 100%;
    float: left;
    }

.inner-left	  {
    z-index: -1; 
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
    border: #999999 1px solid;
    min-height: 100%;
    background-color: #DEF294;
    
    }

.inner-right	  {
    font-size: 11px;
    padding: 5px 5px 5px 5px;
    border: #999999 1px solid;
    min-height: 100%;
    background-color: #133D29;
    }

.clear-floated	  { 
    clear: both;
     height: 100%; 
     font-size: 1px; 
     line-height: 1px; 
     padding: 0; 
     margin: 0;
     }
     th,td{
         min-width:300px;
         width: 50%;
         border: 2px solid #000;
         color:#BD4F95;
         padding: 15px;
         margin: 0 auto;
         font-size: 20px;
     }
     tr:hover { background: yellow; }
     span {line-height: 30px; font-size: 20px; display: block; height: 30px;}
     span:hover{font-size: 30px;}
.Contact{
    /* padding-top: 50%; */
    
    border: 2px solid #000;
    width:470px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    background-color: #24734E;
    color: #BD4F95;
    z-index: +15;
}
.Contact:hover {font-size: 30px;
width: 700px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0px auto;
  }
  
  .mySlides {
      display: inline-block;
      margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

#logo{
    display: block;
     /* margin-left: auto;
    margin-right: auto;  */
    width: 10%;
}
#logo.sidelogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
#link_list{
    position: center;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    margin-top: 100px;
    border: double;
    background-color: #FFF;
    
}
/* .slideshow{
    margin: 100%;
    position: absolute;

} */

.slideshowimages{
    margin-top: 10%;
    margin-left: 24%;
}
#logoContainer{
    width: 190px;
    position: relative;
}

